<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание книги</title>
</head>
<body>
<form th:method="POST" th:action="@{/book}" th:object="${book}">
    <label for="name">Введите название книги</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="author">Введите автора книги</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Surname error</div>
    <br/>
    <label for="year">Введите год публикации книги</label>
    <input type="number" th:field="*{year}" id="year"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Surname error</div>
    <br/>
    <input type="submit" value="Создать!"/>
</form>
<p><a th:href="@{/book}">назад</a></p>
</body>
</html>