<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Описание книги</title>
</head>
<body>
<h2>Данные книги</h2>
<h4>Имя книги:</h4>
<p th:text="${book.getName()}"></p>
<h4>Автор книги:</h4>
<p th:text="${book.getAuthor()}">VALUE</p>
<h4>Год выпуска книги:</h4>
<p th:text="${book.getYear()}">VALUE</p>
<h4>Читатель книги:</h4>
<div th:if="${person}" th:text="${person.getFullName()}">VALUE</div>
<div th:if="${person} == null">У пользователя нет книг</div>
<br/>
<form th:action="@{{id}/edit(id=${book.getBook_id()})}">
    <button>Редактировать</button>
</form>
<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Удалить!"/>
</form>
<p><a th:href="@{/book}">назад</a>

</body>
</html>