<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение подписчика</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}">
    <label for="name">Измените ФИО</label>
    <input type="text" th:field="*{fullName}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br/>
    <label for="age">Измените год</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Изменить!"/>
</form>
<p><a th:href="@{/people/{id}(id=${person.getPerson_id()})}">назад</a></p>
</body>
</html>