<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<h2>Страница пользователя</h2>
<div>
    <h4 th:text="${person.getFullName()}"/>
    <h4 th:text="${person.getAge()}"/>
</div>
<form th:action="@{{id}/edit(id=${person.getPerson_id()})}">
    <button>Редактировать</button>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Удалить!"/>
</form>
<p><a th:href="@{/people}">назад</a>
</body>
</html>