<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p>Hello, it's you data</p>
<table>
    <tbody>
    <tr>
        <td>It's you name:</td>
        <td th:text="${person.getName()}"></td>
    </tr>
    <tr>
        <td>It's you surname:</td>
        <td th:text="${person.getSurname()}">VALUE</td>
    </tr>
    <tr>
        <td>It's you age:</td>
        <td th:text="${person.getAge()}">VALUE</td>
    </tr>
    <tr>
        <td>It's you email:</td>
        <td th:text="${person.getEmail()}">VALUE</td>
    </tr>
    <tr>
        <td>It's you address:</td>
        <td th:text="${person.getAddress()}">VALUE</td>
    </tr>
    </tbody>
</table>
<div>
    <p><a th:href="@{{id}/edit(id=${person.getId()})}">Edit</a></p>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete!"/>
    </form>
    <p><a th:href="@{/people}">back</a>
</div>
</body>
</html>